<div class="container">
<div class="row">
  <div class="col-md-9">
      <div class="card mt-5">
          <div class="card-header bg-dark">
              <div class="ml-3 mt-2" style="color: white;">
                <h4>Liste Matériels</h4>
                <p>Détails</p>
              </div> 
          </div>
          <div class="card-body">  
              <table class="table table-striped table-hover table-sm">
                  <thead class="thead-dark">
                  <tr>
                    <th>Reférence</th>
                    <th>Désignation</th>
                    <th>Prix Unitaire</th>
                    <th>Photo</th>
                  </tr>
                  </thead>
                  <tr *ngFor="let materiel of materiels | async" (click)="showImageMateriel(materiel.refMateriel)">
                    <td>{{materiel.refMateriel}}</td>
                    <td>{{materiel.designMateriel}}</td>
                    <td>{{materiel.puMateriel}}</td>
                    <td>
                      <img class="image-table img-fluid img-thumbnail " src="{{this.materielService.baseUrl+'/'+materiel.refMateriel+'/imagemateriel'}}"/>
                    </td>
                    <td></td>
                  </tr>
                </table>        
          </div>
          <div class="card-footer">
            <button class="btn btn-dark" (click)="onNewMateriel()">
              Nouveau
            <span><i class="fas fa-plus"></i></span>
          </button> 
          </div>
        </div>
  </div>
  <div class="col-md-3 mt-5">
      <!-- <div class="card mt-5" *ngIf="imageExist">
          <div class="card-body"> -->
              <img *ngIf="imageExist" class="image-apercu img-fluid" src="{{this.materielService.baseUrl+'/'+this.id+'/imagemateriel'}}"/>
         <!--  </div>
        </div> -->
  </div>
</div><br/>
<div class="row">
  <div class="col-md-12">
    <!-- <button class="btn btn-dark">
      Nouveau
    <span><i class="fas fa-plus"></i></span>
  </button>   -->
  </div>
</div>
    
</div>